# Ignore node_modules folder (if it's a Node.js project)
node_modules

# Ignore logs
*.log
logs/
npm-debug.log*

# Ignore environment files
.env

# Ignore git files
.git
.gitignore

# Ignore Dockerfile and docker-compose files if you want to exclude them
Dockerfile
docker-compose.yml

# Ignore build output folders
dist
build

# Ignore OS files
.DS_Store
Thumbs.db

.idea/
target/
